body {
  background: #efefef;
  text-align: center;
}

h1 {
  font-size: 200%;
  font-family: sans-serif;
}

.content {
  background: #fff;
  border: 1px #ddd solid;
  padding: 20px;
  margin: 20px auto;
  max-width: 60%;
}

.container {
  background: #fff;
  border: 1px #ccc solid;
  padding: 10px;
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

.container:hover {
  border-color: #222;
  cursor: pointer;
  background: rgba( 0, 0, 0, .2 );
}
