body {
  background: #efefef;
  text-align: center;
}

h1 {
  font-size: 200%;
  font-family: sans-serif;
}

.content {
  background: #fff;
  border: 1px #ddd solid;
  padding: 20px;
  margin: 20px;
}

.secret {
  display: none;
}

.active {
  border: 4px #f7b733 solid;
}

#contact {
  background: #efefef;
  border: 1px #999 dotted;
  padding: 20px;
  margin: 20px;
}

.button {
  background-color: #fff;
  border: 1px #ddd solid;
  color: inherit;;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}

.button:hover {
  background-color: #f7b733;
  border-color: #777;
}
